* {
    border-color: inherit;
    border-style: none;
    border-width: 0px;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

#box {
    height: 600px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 900px;
}

#top {
    /*background-image: url(images/001_01.gif);*/
    background-repeat: no-repeat;
    height: 135px;
    width: 900px;
}

#main {
    height: 445px;
    width: 900px;
}

#main_img {
    height: 981px;
    width: 900px;
}

#m_bottom {
    background-image: url(images/005_05.gif);
    background-repeat: no-repeat;
    float: left;
    height: 536px;
    width: 900px;
}

#m_left {
    background-image: url(images/001_02.gif);
    background-repeat: no-repeat;
    float: left;
    height: 445px;
    width: 259px;
}

#m_right {
    background-image: url(images/001_03.gif);
    background-repeat: no-repeat;
    float: left;
    height: 445px;
    width: 900px;
}

#m_left_img {
    background-image: url(images/005_02.gif);
    background-repeat: no-repeat;
    float: left;
    height: 445px;
    width: 259px;
}

#m_right_img {
    background-image: url(images/005_03.gif);
    background-repeat: no-repeat;
    float: left;
    height: 445px;
    width: 633px;
}


#foot {
    background-image: url(images/001_04.gif);
    background-repeat: no-repeat;
    height: 20px;
    width: 900px;
}

#an01, #an02, #an03, #an04, #an05 {
    float: left;
    height: 58px;
    padding-bottom: 0px;
    padding-left: 55px;
    padding-right: 0px;
    padding-top: 15px;
    width: 204px;
}

#right_01 {
    background-image: url(images/002_03.gif);
    background-repeat: no-repeat;
    float: left;
    height: 42px;
    width: 633px;
}

#right_02 {
    float: left;
    height: 403px;
    width: 633px;
}

#right_01_gl {
    /*background-image: url(images/003_03.gif);*/
    background-repeat: no-repeat;
    float: left;
    height: 42px;
    width: 633px;
}

#right_02_gl {
    float: left;
    height: 403px;
    width: 633px;
}

#right_01_sc {
    /*background-image: url(images/004_03.gif);*/
    background-repeat: no-repeat;
    float: left;
    height: 42px;
    width: 633px;
}

#right_02_sc {
    float: left;
    height: 403px;
    width: 633px;
}